<ul>
  <% unless @followings.empty? %>
    <% @followings.each do |following| %>
      <%= render "user", user: following %>
    <% end %>
    <% if @followings.size >= Settings.load_more_user_size  %>
      <div class="users-load-more">
        <%= link_to "もっと見る", "#" %>
      </div>
    <% end %>
  <% else %>
    <p>
      <%= t :no_content %>
    </p>
  <% end %>
</ul>
