<div class="col-md-2 news-feed-left">
  <div class="above-left">
    <h4>
      <i class="fa fa-users" aria-hidden="true"></i>
      フォローした人
    </h4>
    <hr>
    <div class="news-feed-left-content">
      <%= render "pages/followed_users" %>
    </div>
  </div>

  <div class="below-left">
    <h4>
      <i class="fa fa-users" aria-hidden="true"></i>
      知り合い人？
    </h4>
    <hr>
    <div class="news-feed-left-content">
      <%= render "pages/know_users" %>
    </div>
  </div>
</div>
