<div class="nht-body-content">
  <div class="nht-news-feed">
    <div class="left-news-feed">
      <%= render "left_news_feed" %>
    </div>
    <div class="middle-news-feed">
      <%= render "middle_news_feed", images: @images %>
    </div>
    <div class="right-news-feed">
      <%= render "right_news_feed" %>
    </div>

    <div id="images-upload-modal" class="modal fade" role="dialog">
    </div>
  </div>
</div>
