<div class="nht-news-feed">
  <div class="col-md-2 nht-news-feed-left">
    <h3>フォローした人</h3>
    <hr>
    <div class="news-feed-left-content">
      <%= render "followed_users" %>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-6 nht-news-feed-middle">
    <div class="news-feed-middle-content">
      <%= render "image" %>
    </div>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-3 nht-news-feed-right">
    <h3>人気がある写真</h3>
    <hr>
    <div class="news-feed-right-content">
      <%= render "popular_images" %>
    </div>
  </div>
  <a id="to-top" href="#top" class="btn btn-dark btn-lg">
    <i class="fa fa-chevron-up fa-fw fa-1x"></i>
  </a>
  <div class="clearfix"></div>
</div>
