<div class="col-md-3 col-sm-3 col-xs-3 news-feed-right">
  <h4>
    <i class="fa fa-star" aria-hidden="true"></i>
    人気がある写真
  </h4>
  <hr>
  <div class="news-feed-right-content">
    <%= render "pages/popular_images" %>
  </div>
</div>
<a id="to-top" href="" class="btn btn-dark btn-lg">
  <i class="fa fa-chevron-up fa-fw fa-1x"></i>
</a>
<div class="clearfix"></div>
