<hr>
<%= link_to "ログイン", new_session_path(:user) %><br />
<%= link_to "サインアップ", new_registration_path(:user) %><br />
<hr>
<h4 class="text-center">
  <i class="fa fa-home"></i><%= link_to "ホーム", root_path %>
</h4>
