<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>パスワードを編集</h1>
    パスワードを編集するために、リンクの後をクリックしてください。
    <br>
    <%= link_to "パスワードを編集",
      edit_password_url(user: {email: @user.email,
      reset_password_token: @user.reset_password_token}) %>
  </body>
</html>
