<%= link_to image_book_marks_path(image), remote: true, method: :post do %>
  <li>
    <span>
      <i class="fa fa-bookmark-o" aria-hidden="true"></i>
    </span>
    <span>ブックマック</span>
  </li>
<% end %>
