.comments {
  padding-top: 10px;

  .comments-header {
    margin-bottom: 10px;

    .comments-header-content {
      .comments-header-avatar {
        height: 40px;
        width: 40px;
        margin-right: 5px;
        float: left;
        display: block;
        border: 1px solid rgba(0, 0, 0, .1);
      }

      .comments-header-info {
        overflow: hidden;
        position: relative;

        h6 {
          margin-bottom: 0px !important;
          margin-top: 5px !important;
          font-weight: bold;
          font-size: 14px;
          color: #365899;
        }

        .comments-header-user {
          width: 100%;
        }
      }
    }
  }
}
