.images {
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.16) !important;
  padding-bottom: 10px;
  padding-top: 10px;

  .images-modal {
    min-height: 60vh;
    min-width: 60%;
    max-height: 80vh;
    max-width: 90%;
    margin-top: 50px;

    .images-show-detail {
      height: 100%;
      width: 100%;
    }
  }

  hr {
    margin: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important
  }

  .images-header {
    margin-bottom: 10px;
    position: relative;

    .images-header-content {
      .images-header-avatar {
        height: 40px;
        width: 40px;
        margin-right: 5px;
        float: left;
        display: block;
        border: 1px solid rgba(0, 0, 0, .1);
      }

      .images-header-info {
        overflow: hidden;

        h6 {
          margin-bottom: 0px !important;
          margin-top: 5px !important;
          font-weight: bold;
          font-size: 14px;
          color: #365899;
        }

        .images-header-user {
          width: 100%;
        }

        .images-header-icon {
          float: right;
          cursor: pointer;
          position: absolute;
          top: 0px;
          right: 0px;
          min-width: 115px;

          .icon {
            height: 20px;
            width: 20px;
            float: right;
          }

          .dropdown-menu {
            min-width: 120px;

            a:hover {
              cursor: auto;
              text-decoration: none !important;
            }

            li {
              border-bottom: 1px solid rgba(8, 8, 8, 0.1);
              padding: 7px;
              color: black;
            }
          }

          .images-header-option {
            display: none;
          }
        }
      }
    }
  }

  .images-body {
    .images-body-description {
      margin-bottom: 10px;
    }

    .images-body-image {
      .images-show {
        cursor: pointer;
      }
    }

    .images-body-address {
      margin-bottom: 10px;
    }
  }

  .images-footer {
    .images-like {
      cursor: pointer;

      .like {
        color: black;
      }

      .unlike {
        color: #3b5998;
      }

      .images-like-icon {
        height: 23px;
        width: 21px;
        padding-bottom: 3px;
      }
    }

    .images-comments {
      cursor: pointer;

      .images-comment-icon {
        height: 30px;
        width: 30px;
      }

    }
  }
}
