@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.nht-body {
  .home-page {

    .header {
      height: 100vh;
    }
  }

  .flash {
    position: absolute;
    top: 50px;
    right: 20px;
    width: auto;
    word-wrap: break-word;
    text-align: right;
    z-index: 1;
  }
}
