@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  overflow-y: auto;
}

.nht-body-content {
  padding: 20px !important;
  padding-top: 50px !important;
  background-color: #e9ebee;
  min-width: 1000px;
  min-height: 100vh;
}

.nht-body-content:before,
.nht-body-content:after {
  content: " ";
  display: table;
  clear: both;
}

.nht-body {
  .complete {
    display:none;
  }

  .load-more {
    background: lightblue;
    color: navy;
    font-size: 13px;
    padding: 3px;
    cursor: pointer;
  }

  .home-page {

    .header {
      height: 100vh;
    }
  }

  .flash {
    position: absolute;
    top: 50px;
    right: 20px;
    width: auto;
    word-wrap: break-word;
    text-align: right;
    z-index: 1;
  }
}
