.searches {
  h2 {
    padding: 0;
    padding-top: 5px;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  hr {
    margin: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important
  }

  .search-user {
    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;

    li {
      margin-bottom: 10px;

      .search-user-img {
        display: blok;
        float: left;
        margin-right: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        .user-img {
          height: 50px;
          width: 50px;
        }
      }

      .search-user-str {
        overflow: hidden;
        vertical-align: middle;
        line-height: 50px;
      }
    }
  }

  .search-address {
    padding: 10px;
  }

  .search-category {
    padding: 10px;
  }
}
