<div id="images-modal-<%= image.id %>" class="modal fade" role="dialog">
  <div class="modal-dialog images-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title"><%= image.address %></h4>
      </div>
      <div class="modal-body">
        <%= image_tag image.image.url, class: "img-responsive
          images-show-detail" %>
      </div>
    </div>
  </div>
</div>
